<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ghostRed.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_03.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1606},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_03.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,215},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_03.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1178},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_03.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,643},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_04.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1606},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_04.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,215},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_04.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1178},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_04.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,750},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_05.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1713},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_05.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,322},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_05.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1178},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_05.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,750},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_06.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1713},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_06.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,322},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_06.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1285},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_06.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,750},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_07.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1713},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_07.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,322},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_07.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1285},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_07.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,857},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_08.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1820},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_08.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,429},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_08.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1285},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_08.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,857},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_09.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1820},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_09.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,429},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_09.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1392},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_09.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,857},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_10.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1392},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_10.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_10.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,964},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_10.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,536},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_11.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1499},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_11.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,108},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_11.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,964},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_11.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,536},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_12.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1499},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_12.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,108},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_12.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1071},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_12.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,536},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_13.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1499},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_13.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,108},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_13.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1071},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_13.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,643},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_01.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1392},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_01.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,1},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_01.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,964},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_01.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,429},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>1_02.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,1606},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>2_02.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{1,215},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>3_02.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1071},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>4_02.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{153,643},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ghostBlack</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,180}</string>
			<key>spriteSourceSize</key>
			<string>{105,150}</string>
			<key>textureRect</key>
			<string>{{305,1820},{105,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>poker.png</string>
		<key>size</key>
		<string>{456,1926}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:94126f306a64172ce3670354dbe0ec9f:67f5dd669464a44320fa417a1058d8da:7091b912c8b6d40e279854fb79f668a3$</string>
		<key>textureFileName</key>
		<string>poker.png</string>
	</dict>
</dict>
</plist>
